*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Source Serif 4', serif;
}

.main-container{
    /* border: 1px solid red; */
    background: red;
    width: 100vw;
    height: 95vh;
    background-image:linear-gradient(rgba(0,0,0,0.527),rgba(0,0,0,0.5)), url(./images/Hero.jpg);
    background-position: center;
    background-size: cover; 
    color: white;

}

.main-container