*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Roboto Slab', serif;
}
/*Base styles*/
p{
    color: #9da3a9;
    font-size: 1.1rem;
}
.stripper{
    /* border: 1px solid blue; */
    max-width: 90%;
    height: auto;
    margin:  0 auto;
}
img{
    max-width: 100%;
    min-height: 100%;
}

/*Utility classes*/
.text-center{
    text-align: center;
} 
.txt-xl{
    font-size: 3.0rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.txt-lg{
    font-size: 1.7rem;
    text-transform: capitalize;
}
.txt-md{
    font-size: 1.3rem;
    text-align: center;
}
.txt-sm{
    font-size: 1.0rem;
    text-align: center;
}

/*Padding X-axis*/
.px-lg{
    padding: 0 40px;
}
.px-md{
    padding: 0 30px;
}
.px-sm{
    padding: 0 20px;
}

/*Padding Y-axis*/
.py-lg{
    padding: 40px 0;
}
.py-md{
    padding: 30px 0;
}
.py-sm{
    padding: 20px 0;
}
/*About components styles*/
.main-conatiner{
border: 1px solid red;
width: 100vw;
height: auto;
}
.container{ 
    width: 100vw;
    height: 95vh;
    background-image:linear-gradient(rgba(0,0,0,0.527),rgba(0,0,0,0.5)), url(./images/Hero.jpg);
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    position: relative;

}

.container .hero{
    /* border: 1px solid white; */
    position: absolute;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
 

}
.container .hero h1{
     font-size: 5rem;
    font-family: 'Source Serif 4';
    font-weight: 400;
    color: white;
  
} 
/*This is the strip container*/
.stripper{
    /* border: 1px solid blue; */
    width: 90%;
    margin: auto;
}
.grid-container{
    /* border: 1px solid green; */
    width: 100%;
    margin-top:130px; 
}
.grid-container .grid-row{
    /* border: 1px solid brown; */
    width: 100%;
}
.grid-container .grid-row .grid-col2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 7rem;

}
.grid-container .grid-row .grid-col2 .grid-img{
    /* border: 1px solid green; */
    overflow-y: hidden;
    width: 100%;
    height: auto;
}
.grid-container .grid-row .grid-col2 .grid-img img{
   width: 100%;
    height: 38rem;
    
}
.grid-container .grid-row .grid-col2 .grid-content{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
 
    width: 100%;
}
.grid-container .grid-row .grid-col2 .grid-content h3{
    border: 1px solid red;
    max-width: 450px;
    font-size: 3.5rem;
    font-weight: 400;
    /* line-height: 1.5; */
    margin-bottom: 100px;
    padding: 0 10px;
}
.grid-container .grid-row .grid-col2 .grid-content p{
    border: 1px solid red;
    max-width: 450px;
}
.grid-reversed :first-child {
    order: 2;
  }
/* 
@media (max-width:960px) {
    .grid-container .grid-row .grid-col2{
        display: grid;
        grid-template-columns: 1fr;
       
    }
    .grid-container .grid-row .grid-col2 .grid-content{
        grid-row:1/2;
    }
} */