* {
    padding: 0px;
    margin: 0px;
    font-family: 'Lora', serif;
}



.lnk {
    letter-spacing: 0.1rem;
    /* color: #f5f5f5; */
}

.lnk:active,
.lnk:hover {
    border-bottom: 0.1rem solid rgb(245, 242, 242);
    word-spacing: 0.2rem;
}